@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: theme('colors.primary');
    --color-secondary: theme('colors.secondary');
    --color-success: theme('colors.success');
    --color-warn: theme('colors.warn');
    --color-error: theme('colors.error');
}

header {
    @apply flex items-center justify-between flex-none h-20 px-4 border-b;
}

h1 {
    @apply text-3xl font-bold;
}

h2 {
    @apply text-xl font-bold;
}

h3 {
    @apply text-base font-bold;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
    @apply box-border p-2 border rounded-sm min-w-20 disabled:cursor-not-allowed disabled:bg-gray-50;
}

label {
    @apply mb-1 font-semibold;
}

.btn {
    @apply p-4 py-2 rounded-sm min-w-20 hover:opacity-70 disabled:cursor-not-allowed disabled:opacity-70;
}

.btn-primary {
    @apply text-white bg-primary;
}

.btn-secondary {
    @apply text-white bg-secondary;
}

.btn-success {
    @apply text-white bg-success;
}

.btn-error {
    @apply text-white bg-error;
}

.card {
    @apply p-4 border rounded-sm;
}

div#__next {
    grid-template: auto 1fr auto / 1fr;
    grid-template-areas:
        'header header'
        'main main'
        'footer footer';
    @apply grid w-screen h-screen overflow-x-auto;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    @apply flex flex-col flex-grow w-full max-w-3xl p-4 mx-auto;
}

footer {
    grid-area: footer;
}

#nprogress {
    @apply pointer-events-none;
}

#nprogress .bar {
    @apply fixed top-0 left-0 z-50 w-full h-1 bg-primary;
}
